.contain-headeradmin{
    display: flex;
    justify-content: space-between;
    .left-header{

    }
    .right-header{
        margin-right: 250px;
    }
}
.ant-layout-header css-dev-only-do-not-override-1vjf2v5 {
    background: #F5F5F5;
}