.row-selected {
  background-color: #e6f3ff !important; /* màu xanh nhạt */
}
/* tắt hiệu ứng hover cho tất cả row */
.no-hover-row:hover {
  background: none !important;
}
 .ant-table-tbody > tr.ant-table-row:hover > td {
      background: none !important;
  } 