/* Nếu bạn dùng Ant Design v5+ */
.affected-modal .ant-modal-content {
  border-radius: 0 !important;
  min-height: 585px;
}
.textlogin{
    font-weight: bold;
    font-size: medium;
}
.social-container{
// justify-content: center;
text-align: center;
padding-bottom: 50px;
}
.social-container .ant-btn{


    height: 50px;
    width: 50px;
    border-radius: 800px;
}
.main-form{
  // border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  .login-form{
    width: 300px;
  }
  .register-form{
    width: 300px;
  }

}